@model Wave.Models.User

<h2>Мой аккаунт</h2>

<div>
    <div>
        <button type="button" class="btn btn-outline-dark">Избранное</button>
    </div>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Change Email
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Change Email</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" asp-action="MyAccount">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Current password:</label>
                            <input type="text" class="form-control" id="recipient-name" name="password">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" id="message-text" name="newEmail"/>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" value="Change" class="btn btn-primary"/>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-outline-dark">Изменить пароль</button>
    </div>
    <div>
        <button type="button" class="btn btn-outline-dark">Logout</button>
    </div>
</div>
